node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
README.md
.cursor
.vscode
.idea
*.md
test
*.spec.ts
.github
.eslintrc.js
.prettierrc
tsconfig.json
tsconfig.build.json
nest-cli.json
